<div class="col-md-2 no-padding">
  <ul class="list-group">
    <app-board-item *ngFor="let item of boardItems" [urlPart]="item.urlPart" [name]="item.name"></app-board-item>
  </ul>
</div>
<div class="col-md-10 no-padding">
  <router-outlet></router-outlet>
</div>