<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
</div>
