<div *ngIf="showPage">
  <br>
  <div>
    <form #predictionForm="ngForm" (ngSubmit)="onSubmit(predictionForm)" class="form-horizontal">
      <div class="top-row-search">
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4 control-label">Zone:</label>
            <div class="col-md-8">
              <select class="form-control" name="zone" id="zone" [(ngModel)]="selectedZone.id">
                <option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4 control-label">Day:</label>
            <div class="col-md-8">
              <select class="form-control" name="day" id="day" [(ngModel)]="selectedDay.id">
                <option *ngFor="let day of days" [value]="day.id">{{ day.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="col-md-4 control-label">Month:</label>
            <div class="col-md-8">
              <select class="form-control" name="month" id="month" [(ngModel)]="selectedMonth.id">
                <option *ngFor="let month of months" [value]="month.id">{{ month.name }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="form-group">
            <label class="col-md-5 control-label">Begin time:</label>
            <div class="col-md-7">
              <select class="form-control" name="beginTime" id="beginTime" [(ngModel)]="selectedBeginTime.id">
                <option *ngFor="let beginTime of beginTimes" [value]="beginTime.id">{{ beginTime.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="col-md-5 control-label">End time:</label>
            <div class="col-md-7">
              <select class="form-control" name="endTime" id="endTime" [(ngModel)]="selectedEndTime.id">
                <option *ngFor="let endTime of endTimes" [value]="endTime.id">{{ endTime.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="col-md-4 control-label">Interval:</label>
            <div class="col-md-8">
              <select class="form-control" name="intervalTime" id="intervalTime" [(ngModel)]="selectedIntervalTime.id">
                <option *ngFor="let intervalTime of intervalTimes" [value]="intervalTime.id">{{ intervalTime.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!predictionForm.valid">Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <br>
  <app-prediction-chart *ngIf="searched" [newSearch]="newSearch" [predictions]="zonePredictions"></app-prediction-chart>
</div>