<div class="backdrop"></div>
<div class="modal-box zone-create-box">
  <h3>Zone info</h3>
  <hr>
  <form #createZoneForm="ngForm" (ngSubmit)="onSubmit(createZoneForm)" class="form-horizontal">
    <div class="form-group">
      <label for="name" class="col-md-3 control-label">Name:</label>
      <div class="col-md-9">
        <input type="text" class="form-control" id="name" ngModel placeholder="Name" name="name" required>
      </div>
    </div>
    <div class="form-group">
      <label for="maxCount" class="col-md-3 control-label">Max count:</label>
      <div class="col-md-9">
        <input type="number" class="form-control" id="maxCount" ngModel placeholder="Max count" name="maxCount" required>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success btn-block" [disabled]="!createZoneForm.valid">Create</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>