<div *ngIf="showDialog">
  <div class="backdrop"></div>
  <div class="modal-box outbound-message-create-box">
    <h3>Outbound message info</h3>
    <br>
    <form #createOutboundMessageCreateForm="ngForm" (ngSubmit)="onSubmit(createOutboundMessageCreateForm)" class="form-horizontal">
      <div class="form-group">
        <label class="col-md-4 control-label">Type:</label>
        <div class="col-md-8">
          <select class="form-control" name="outbonudMessageType" id="outbonudMessageType" [(ngModel)]="selectedOutboundMessageType.id" (change)="onOutboundMessageTypeChange($event.target.value)">
            <option *ngFor="let outboundMessageType of outboundMessageTypes" [value]="outboundMessageType.id">{{ outboundMessageType.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngFor="let outboundMessageTypeField of selectedOutboundMessageType.fields">
        <label class="col-md-4 control-label">{{ outboundMessageTypeField }}</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="{{outboundMessageTypeField}}" ngModel name="{{outboundMessageTypeField}}" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!createOutboundMessageCreateForm.valid">Create</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>