<div class="backdrop"></div>
<div class="confirm-dialog-box">
  <h3>Confirm action</h3>
  <hr>
  <form #confirmDialogForm="ngForm" (ngSubmit)="onSubmit(confirmDialogForm)" class="form-horizontal">
    <h4>{{ message }}</h4>
    <div class="form-group">
      <div class="col-md-6">
        <button type="submit" class="btn btn-success btn-block" [disabled]="!confirmDialogForm.valid">Yes</button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-danger btn-block" (click)="onCancel()">No</button>
      </div>
    </div>
  </form>
</div>
