<div class="col-md-4 col-md-offset-4 vertical-align">
  <div class="user-icon">
    <fa-icon [icon]="faUser" size="6x"></fa-icon>
  </div>
  <br>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <div class="form-group">
      <input type="text" id="username" placeholder="Username" class="form-control" ngModel name="username" required>
    </div>
    <div class="form-group">
      <input type="password" id="password" placeholder="Password" class="form-control" ngModel name="password" required minlength="6">
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!authForm.valid">Login</button>
    </div>
  </form>
</div>