<div *ngIf="showDialog">
  <div class="backdrop"></div>
  <div class="modal-box outbound-message-type-edit-box">
    <h3>Outbound message type info</h3>
    <hr>
    <form #editOutboundMessageTypeForm="ngForm" (ngSubmit)="onSubmit(editOutboundMessageTypeForm)" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-3 control-label">Name:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="name" [(ngModel)]="outboundMessageType.name" placeholder="Name" name="name" required>
        </div>
      </div>
      <div class="form-group" *ngFor="let field of fields; let i = index">
        <label class="col-md-3 control-label">Field #{{ i + 1 }}:</label>
        <div class="col-md-7">
          <input type="text" class="form-control" id="name" [(ngModel)]="fields[i].value" name="field_{{i}}" placeholder="Field name">
        </div>
        <div class="col-md-2">
            <fa-icon [icon]="faTrashAlt" size="2x" class="remove-icon" (click)="onDeleteField(i)"></fa-icon>
        </div>
      </div>
      <div class="text-center">
        <button type="button" class="btn btn-success text-center" (click)="onAddField()">Add field</button>
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!editOutboundMessageTypeForm.valid">Edit</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
