<ng-template appPlaceholder></ng-template>
<app-list
  [list]="users" 
  (editInit)="onEdit($event)" 
  [editComplete]="editComplete"
  (deleteInit)="onDelete($event)" 
  [deleteComplete]="deleteComplete"
  [spaceLeft]="14">
</app-list>
<br>
<div class="text-center">
  <button class="btn btn-success" (click)="onCreate()">Create new user</button>
</div>
<br>