<ng-template appPlaceholder></ng-template>
<div class="table-wrapper-scroll-y table-size">
  <table class="table table-striped table-hover">
    <thead class="table-header">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Created</th>
        <th class="text-center">Modified</th>
        <th class="text-center">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensors">
        <td>{{ sensor.name }}</td>
        <td>{{ sensor.created | date}}</td>
        <td>{{ sensor.modified | date }}</td>
        <td>
          <div>
            <fa-icon [icon]="faEnvelope" size="2x" class="message-icon button-margin" (click)="onMessageSend(sensor.id)"></fa-icon>
            <fa-icon [icon]="faEdit" size="2x" class="edit-icon button-margin" (click)="onEdit(sensor.id)"></fa-icon>
            <fa-icon [icon]="faTrashAlt" size="2x" class="remove-icon" (click)="onDelete(sensor.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--
<app-list 
  [list]="sensors" 
  (editInit)="onEdit($event)" 
  [editComplete]="editComplete"
  (deleteInit)="onDelete($event)" 
  [deleteComplete]="deleteComplete">
</app-list>
-->