.table-size {
  position: relative;
  height: 'calc(100vh - 9.28vh)';
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.button-margin {
  margin-right: 25px;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

thead th {
  height: 50px;
  font-size: 1.2em;
  background-color: rgb(211, 215, 222);
  vertical-align: middle;
}

.message-icon {
  color: #5cb85c;
}