<div *ngIf="showDialog">
  <div class="backdrop"></div>
  <div class="modal-box sensor-edit-box">
    <h3>Sensor info</h3>
    <hr>
    <form #editSensorForm="ngForm" (ngSubmit)="onSubmit(editSensorForm)" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-4 control-label">Name:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="name" [(ngModel)]="sensor.name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Enter zone:</label>
        <div class="col-md-8">
          <select class="form-control" name="enterZone" id="enterZone" [(ngModel)]="selectedEnterZone.id">
            <option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Exit zone:</label>
        <div class="col-md-8">
          <select class="form-control" name="exitZone" id="exitZone" [(ngModel)]="selectedExitZone.id">
            <option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Type:</label>
        <div class="col-md-8">
          <select class="form-control" name="sensorType" id="sensorType" [(ngModel)]="selectedSensorType.id" (change)="onSensorTypeChange($event.target.value)">
            <option *ngFor="let sensorType of sensorTypes" [value]="sensorType.id">{{ sensorType.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngFor="let sensorTypeField of fields">
        <label class="col-md-4 control-label">{{ sensorTypeField }}</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="{{sensorTypeField}}" [(ngModel)]="sensor.fieldValues[sensorTypeField]" name="{{sensorTypeField}}" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <p class="bold-label">Created in: </p>
        </div>
        <div class="col-md-8">
          <p>{{ sensor.created | date }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <p class="bold-label">Modified in: </p>
        </div>
        <div class="col-md-8">
          <p>{{ sensor.modified | date}}</p>
        </div>
      </div>
      <div class="form-group">
        <div [ngClass]="{'col-md-4': showDelete, 'col-md-6': !showDelete}">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!editSensorForm.valid">Edit</button>
        </div>
        <div class="col-md-4" *ngIf="showDelete">
          <button type="button" class="btn btn-danger btn-block" (click)="onDelete()">Delete</button>
        </div>
        <div [ngClass]="{'col-md-4': showDelete, 'col-md-6': !showDelete}">
          <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>