.map {
  height: calc(100vh - 9.28vh);
}

.create-zone {
  position: absolute;
  right: 40px;
  z-index: 401;
  top: 30px;
  width: 15%;
}

.create-sensor {
  position: absolute;
  right: 40px;
  z-index: 401;
  top: 75px;
  width: 15%;
}

.cancel {
  position: absolute;
  right: 40px;
  z-index: 401;
  bottom: 40px;
  width: 15%;
}
/*
.remove-last-point {
  position: absolute;
  right: 250px;
  z-index: 401;
  bottom: 40px;
  width: 15%;
}
*/
.finish {
  position: absolute;
  left: 40px;
  z-index: 401;
  bottom: 40px;
  width: 15%;
}