<ng-template appPlaceholder></ng-template>
<div class="map" leaflet [leafletOptions]="leafletOptions" (leafletClick)="onMapClick($event)" (leafletMapReady)="onMapReady($event)" [leafletLayers]="leafletLayers">
<button class="btn btn-primary create-zone" *ngIf="showButton" [disabled]="editing" (click)="onCreateZone()">Create zone</button>
<button class="btn btn-primary create-sensor" *ngIf="showButton" [disabled]="editing" (click)="onCreateSensor()">Create sensor</button>
<button class="btn btn-danger cancel" *ngIf="editing && showButton" (click)="onCancel()">Cancel</button>
<!--<button class="btn btn-danger remove-last-point" *ngIf="editing && showButton && zoneAreaPoints >= 1" (click)="onRemoveLastPoint()">Remove last point</button>-->
<button class="btn btn-success finish" *ngIf="editing && showButton" (click)="onFinish()">Finish</button>