<div *ngIf="showDialog">
  <div class="backdrop"></div>
  <div class="modal-box sensor-create-box">
    <h3>Sensor info</h3>
    <hr>
    <form #createSensorForm="ngForm" (ngSubmit)="onSubmit(createSensorForm)" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-4 control-label">Name:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="name" ngModel placeholder="Name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Enter zone:</label>
        <div class="col-md-8">
          <select class="form-control" name="enterZone" id="enterZone" [(ngModel)]="defaultEnterZone.id">
            <option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Exit zone:</label>
        <div class="col-md-8">
          <select class="form-control" name="exitZone" id="exitZone" [(ngModel)]="defaultExitZone.id">
            <option *ngFor="let zone of zones" [value]="zone.id">{{ zone.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Type:</label>
        <div class="col-md-8">
          <select class="form-control" name="sensorType" id="sensorType" [(ngModel)]="selectedSensorType.id" (change)="onSensorTypeChange($event.target.value)">
            <option *ngFor="let sensorType of sensorTypes" [value]="sensorType.id">{{ sensorType.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngFor="let sensorTypeField of selectedSensorType.fields">
        <label class="col-md-4 control-label">{{ sensorTypeField }}</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="{{sensorTypeField}}" ngModel name="{{sensorTypeField}}" required>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!createSensorForm.valid">Create</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>