<ng-template appPlaceholder></ng-template>
<app-list 
  [list]="zones" 
  (editInit)="onEdit($event)" 
  [editComplete]="editComplete"
  (deleteInit)="onDelete($event)" 
  [deleteComplete]="deleteComplete">
</app-list>