<div class="table-wrapper-scroll-y table-size" [ngStyle]="{'height': tableHeight, 'overflow': tablePosition}">
  <table class="table table-striped table-hover">
    <thead class="table-header">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Created</th>
        <th class="text-center">Modified</th>
        <th class="text-center">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listItem of list">
        <td>{{ listItem.name }}</td>
        <td>{{ listItem.created | date}}</td>
        <td>{{ listItem.modified | date }}</td>
        <td>
          <div>
            <fa-icon [icon]="faEdit" size="2x" class="edit-icon button-margin" (click)="onEdit(listItem.id)"></fa-icon>
            <fa-icon [icon]="faTrashAlt" size="2x" class="remove-icon" (click)="onDelete(listItem.id)"></fa-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>