<div *ngIf="showDialog">
  <div class="backdrop"></div>
  <div class="modal-box user-create-box">
    <h3>User info</h3>
    <hr>
    <form #createUserForm="ngForm" (ngSubmit)="onSubmit(createUserForm)" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-3 control-label">Name:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="name" ngModel placeholder="Name" name="name" required>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-md-3 control-label">Username:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" id="username" ngModel placeholder="Username" name="username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-md-3 control-label">Password:</label>
        <div class="col-md-9">
          <input type="password" class="form-control" id="password" ngModel placeholder="Password" name="password" required>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Role:</label>
        <div class="col-md-9">
          <select class="form-control" name="role" id="role" [(ngModel)]="selectedRole.id">
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
      </div>
      <br>
      <div class="form-group">
        <div class="col-md-6">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!createUserForm.valid">Create</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>