<div class="backdrop"></div>
<div class="modal-box error-box">
  <h3>An error ocurred.</h3>
  <hr>
  <h4>{{ title }}</h4>
  <h5>{{ detail }}</h5>
  <br>
  <div class="col-md-12 close-button">
    <button type="button" class="btn btn-primary btn-block" (click)="onClose()">Close</button>
  </div>
  <br>
</div>