/* You can add global styles to this file, and also import other style files */
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1001;
}

.modal-box {
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  z-index: 1001;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26) ;
}

.bold-label {
  font-weight: bold;
  text-align: right;
}

.remove-icon {
  color: #ac2925;
}

.edit-icon {
  color: #337ab7;
}