<ng-template appPlaceholder></ng-template>
<div *ngIf="show">
  <app-list
    [list]="outboundMessageTypes" 
    (editInit)="onEdit($event)" 
    [editComplete]="editComplete"
    (deleteInit)="onDelete($event)" 
    [deleteComplete]="deleteComplete"
    [spaceLeft]="23">
  </app-list>
  <br>
  <div class="col-md-4">
    <p class="bold-label sensor-type-label">Sensor type: </p>
  </div>
  <div class="col-md-4">
    <select class="form-control" name="sensorType" id="sensorType" [(ngModel)]="selectedSensorType.id" (change)="onSensorTypeChange($event.target.value)">
      <option *ngFor="let sensorType of sensorTypes" [value]="sensorType.id">{{ sensorType.name }}</option>
    </select>
  </div>
  <br>
  <br>
  <br>
  <div class="text-center col-md-12">
    <button class="btn btn-success" (click)="onCreate()">Create new outbound message type</button>
  </div>
</div>

