<div *ngIf="showDialog">
  <div class="backdrop"></div>
  <div class="modal-box zone-edit-box">
    <h3>Zone info</h3>
    <hr>
    <form #editZoneForm="ngForm" (ngSubmit)="onSubmit(editZoneForm)" class="form-horizontal">
      <div class="form-group">
        <label for="name" class="col-md-4 control-label">Name:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="name" [(ngModel)]="zone.name" name="name">
        </div>
      </div>
      <div class="form-group">
        <label for="maxCount" class="col-md-4 control-label">Max count:</label>
        <div class="col-md-8">
          <input type="number" class="form-control" id="maxCount" [(ngModel)]="zone.maxCount" name="maxCount">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <p class="bold-label">Current count: </p>
        </div>
        <div class="col-md-8">
          {{ zone.currentCount }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <p class="bold-label">Occupied (%): </p>
        </div>
        <div class="col-md-8">
          {{ zone.occupiedPercentage }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <p class="bold-label">Created in: </p>
        </div>
        <div class="col-md-8">
          <p>{{ zone.created | date }}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4">
          <p class="bold-label">Modified in: </p>
        </div>
        <div class="col-md-8">
          <p>{{ zone.modified | date}}</p>
        </div>
      </div>
      <div class="form-group">
        <div [ngClass]="{'col-md-4': showDelete, 'col-md-6': !showDelete}">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!editZoneForm.valid">Edit</button>
        </div>
        <div class="col-md-4" *ngIf="showDelete">
          <button type="button" class="btn btn-danger btn-block" (click)="onDelete()">Delete</button>
        </div>
        <div [ngClass]="{'col-md-4': showDelete, 'col-md-6': !showDelete}">
          <button type="button" class="btn btn-primary btn-block" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>